@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; 
    font-size: 20px;   
}
.menu{
    z-index: 2;
    background-color: #fc8868;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    align-items: center;
    height: 80px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 100%;
    align-items: center;
    justify-content: right;
}
span{
    color: #ffffff;
    transition: .25s;
}
.nav2 > .item{
    margin: 10px 20px;
}
button{
    background-color: #f4c651;
    border: none;
    padding: 10px;
    border-radius: 100px;
    margin: 30px;
    cursor: pointer;
    transition: .25s;
}
.item{
    margin: 30px;
    text-transform: uppercase;
    margin: 0 30px;
    color: #ffffff;
}
button:hover{
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.hambur{
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.menuhambur{
    z-index: 11;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav3{
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: .5s;
    transform: translateX(-200%);
    transition: 0.5s ease-in-out;
}
.item3{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #fc8868;
    color: #ffffff;
    font-size: 24px;
    padding-top: 30px;
}
.nav3.open{
    transform: translateX(0);
}
a{
    transition: .25s;
}
a:hover{
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.menuha, .menuhac{
    margin-left: 30px;
    font-size: 40px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.menuha.open{
    display: none;
    transition: .25s;
}
.menuhac{
    display: none;
}
.menuhac.open{
    display: block;
}
.menuha, .menuhac:hover{
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.oscuro{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0;
}
.oscuro > p{
    color: transparent;
}

@media (max-width: 768px){
    .nav1{
        display: none;
    }    
    button{
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }
}

@media (min-width: 768px){
    .nav2{
        display: none;
    }

}

@media (min-width: 576px){
    .hambur{
        display: none;
    }
}

@media (max-width: 576px){
    .nav2{
        display: none;
    }
    button{
        margin-right: 30px;
    }
}