footer{
    margin-top: 80px;
    background-color: #8b9b42;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divpadrefooter{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.divpadrefooter > div{
    width: 30%;
}
.divpadrefooter > div > form > .enviarboton{
    position: relative;
    z-index: 1;
    left: 370px;
    top: 100px;
}
.divpadrefooter > div > h2, .divpadrefooter > div > ul > li > a{
    color: #ffffff;
}
.divpadrefooter > div > ul > li > a{
    font-size: 24px;
}
.divpadrefooter > div > h2{
    font-size: 26px;
}
.divpadrefooter > div > ul{
    margin-top: 0;
}
.divpadrefooter > div > p{
    font-size: 24px;
}