.seccion3{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.seccion3 > div{
    width: 80%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.subdiv3{
    width: 30%;
}
.subdiv3 > h1{
    color:#000000;
    font-size: 50px;
}
.subdiv3 > p{
    color: #707070;
    font-size: 24px;
}
.subdiv3 > button{
    color: #ffffff;
    margin-top: 50px;
}
.recomenimg{
    display: flex;
    justify-content: space-between;
    align-items: ;
}
.recomenimg > img{
    margin: 20px;
    width: 250px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 576px){
    .seccion3{
        height: 120vh;
    }
    .seccion3 > div{
        flex-direction: column;
    }
    .recomenimg{
        margin-top: 50px;
        justify-content: space-around;
    }
    .recomenimg > img{
        width: 125px;
    }
/*     .recomenimg{
        display: none;
    } */
    .seccion3 > div{
        width: 100%;
    }
    .subdiv3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .subdiv3 > h1{
        text-align: center;
    }
    .subdiv3 > p{
        text-align: center;
        margin: 30px 30px 50px 30px;
    }
    .subdiv3 > button{
        width: 80%;
        margin: 0;
        transition: .25s;
    }
    .botondesc:hover{
        box-shadow: rgba(0, 0, 0, 0.25);
    }
}